<h1>New Team</h1>

<%= form_for(@team) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <br />
  <% (1..6).each do |i| %>
    <%= label_tag("pokemon_" + i.to_s) %>
	
	<%= collection_select(:pokemon, :pokemon_id, Pokemon.all, :id, :species, prompt: true) %>
	
    <br />
  <% end %>
  <%= f.submit %>
<% end %>
